<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portal editorial</title>
  <!-- Tailwind CSS Link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css">
  <!-- Fontawesome Link -->
  <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
</head>

<body>
  <nav class="flex py-5 bg-black text-white px-24">
    <div class="px-12 mr-auto">
      <a href="/" class="text-2xl font-bold nav-link font-semibold hover:bg-green-700 py-3 px-4 rounded-md">Portal editorial</a>
    </div>
    <ul class="px-8 flex justify-end pt-1">
      <li class="nav-item px-4 hide-for-user" id="listar_usuarios">  
        <a href="/listar" class="nav-link font-semibold border-2 border-white hover:bg-green-700 py-4 px-4 rounded-md">Usuarios</a>
      </li>
      <li class="nav-item px-4" id="listar_libro">  
        <a href="/listar_libro" class="nav-link font-semibold border-2 border-white hover:bg-green-700 py-4 px-4 rounded-md">Tienda</a>
      </li>
      <li class="nav-item px-4" id="agregar_libro">  
        <a href="/agregar_libro" class="nav-link font-semibold border-2 border-white hover:text-green-700 hover:bg-white py-4 px-4 rounded-md hide-for-user">Agregar Libro</a>
      </li>
      <li class="nav-item px-4">
        <a href="/logout"  class="nav-link font-semibold border-2 border-white hover:text-red-700 hover:bg-white py-4 px-4 rounded-md">Cerrar Sesión</a>
      </li>
      <li class="nav-item">
        <a href="/carrito" class="nav-link">
          <i class="fas fa-shopping-cart"></i>
          <span class="badge badge-pill badge-primary" id="carrito-cantidad"></span>
        </a>
      </li>
    </ul>
  </nav>
  {{{body}}}
  <script>
    function getAdminCookie() {
      const cookies = document.cookie.split(';').map(cookie => cookie.trim());
      for (const cookie of cookies) {
        const [name, value] = cookie.split('=');
        if (name === 'admin' && value === 'true') {
          return true;
        }
      }
      return false;
    }

    const isAdmin = getAdminCookie();
    if(isAdmin === false) {
      document.querySelectorAll('.hide-for-user').forEach(element => {
        element.style.display = 'none'
      })
    }
  </script>
</body>

</html>
